<section class="main-contacts-content">
  <div class="list-head">
    <div>Contacts</div>
    <div></div>
    <div class="buttom-horizontal">
      <button class="buttom buttom-none" (click)="setAddMode()"><img src="assets/mas.svg" alt=""></button>
      <button class="buttom buttom-none"><img src="assets/compartimiento.svg" alt=""></button>
      <button class="buttom buttom-none" (click)="markAllasContacted()"><img src="assets/telefono-contactado.svg" alt=""></button>
    </div>
  </div>
  <form class="search-content">
    <input type="text" placeholder="Search" (keyup.enter)="search($event.target.value)">
    <div class="searchOptions">
      <input type="radio" name="searchOption" value="name" [(ngModel)]="searchOption"> 
      <label>Buscar por nombre</label>
    </div>
    <div class="searchOptions">  
      <input type="radio" name="searchOption" value="email" [(ngModel)]="searchOption"> 
      <label>Buscar por email</label>
    </div>
    <img src="assets/buscar.svg" alt="">
  </form>
  <ul class="contacts-list" *ngIf="contactSearch.length == 0 && searchErrorMessage.length == 0 ">
    <!-- Añadir un boton que habiilite  o desabilite este compoarammiento  [ngStyle]="{ display: contact.contacted ? 'none' : 'flex'}" -->
    <li *ngFor="let contact of contactList" >
      <div class="contact-info-content" >
        <div class="contact-img">
          {{ contact.name[0].toLocaleUpperCase() }}
        </div>
        <div class="contact-info">
          <h2>{{ contact.name }}</h2>
          <h3>{{ contact.phone }}</h3>
          <h2>{{ contact.email }}</h2>
        </div>
      </div>
      <div></div>
      <div class="buttom-horizontal">
        <button class="buttom" (click)="setEditMode(contact)"><img src="assets/editar.svg" alt=""></button>
        <button class="buttom" (click)="deleteContact(contact)"><img src="assets/compartimiento.svg" alt=""></button>
        <button class="buttom" (click)="markAscontacted(contact.name)"><img [hidden]="(!contact.contacted)" src="assets/telefono-contactado.svg" alt=""> <img [hidden]="contact.contacted" src="assets/telefono.svg" alt=""></button>
      </div>
    </li>
  </ul>

  <ul class="contacts-list" *ngIf="contactSearch.length > 0">
    <li *ngFor="let contact of contactSearch" [ngStyle]="{ display: contact.contacted ? 'none' : 'flex'}">
      <div class="contact-info-content" >
        <div class="contact-img">
          {{ contact.name[0].toLocaleUpperCase() }}
        </div>
        <div class="contact-info">
          <h2>{{ contact.name }}</h2>
          <h3>{{ contact.phone }}</h3>
          <h3>{{ contact.email }}</h3>
        </div>
      </div>
      <div></div>.
      <div class="buttom-horizontal">
        <button class="buttom"><img src="assets/editar.svg" alt=""></button>
        <button class="buttom" (click)="deleteContact(contact)"><img src="assets/compartimiento.svg" alt=""></button>
        <button class="buttom" (click)="markAscontacted(contact.name)"><img [hidden]="(!contact.contacted)" src="assets/telefono-contactado.svg" alt=""> <img [hidden]="contact.contacted" src="assets/telefono.svg" alt=""></button>
      </div>
    </li>
  </ul>
  <h1 *ngIf="searchErrorMessage.length > 0">{{searchErrorMessage}}</h1>
</section>

<section class="add-contact-content" [ngStyle]="{ display: !addMode ? 'none' : 'flex'}">
  <form class="contact-form" action="#">
    <h2>ADD CONTACT</h2>
    <input  type="text" id="name"  name="name" [(ngModel)]="newContact.name" placeholder="Name">
    <input type="text" id="email" name="email" [(ngModel)]="newContact.email" placeholder="Email">
    <input  type="tel" id="phone" name="phone" [(ngModel)]="newContact.phone" placeholder="Telephone">
    <label for="checkbox">
      Contacted <input type="checkbox"  id="contacted" name="contacted" [(ngModel)]="newContact.contacted">
    </label>
    <button (click)="addContact(newContact)">ADD NEW CONTACT</button>
  </form>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</section>

<section class="edit-contact-content" [ngStyle]="{ display: !editMode ? 'none' : 'flex'}">
  <form class="contact-form" action="#">
    <h2>EDIT CONTACT</h2>
    <input  type="text" id="name"  name="name" [(ngModel)]="editedContact.name"  placeholder="Name">
    <input type="text" id="email" name="email" [(ngModel)]="editedContact.email" placeholder="Email">
    <input  type="tel" id="phone" name="phone" [(ngModel)]="editedContact.phone" placeholder="Telephone">
    <label for="checkbox">
      Contacted <input type="checkbox"  id="contacted" name="contacted" [(ngModel)]="editedContact.contacted">
    </label>
    <button (click)="edit(editedContact)">EDIT CONTACT</button>
  </form>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</section>
